@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Steina Playback VF';
  src: url('/fonts/Steina Playback VF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: #fff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-family: 'Steina Playback VF';
  font-size: 100px;
  font-variation-settings: 'opsz' 40;
}


.rotatingHeader {
	margin-bottom:2vw;

	width:fit-content;
	white-space:nowrap;

}

.rotatingHeader h1{
	font-family: 'Steina Playback VF';
	color:#d4f77d;
	font-size:100px;
	margin:0;
	padding:0;
	line-height:0.5;
	perspective:600px;
}

.rotatingHeader h1:nth-child(2) {
	color: pink;
}
